/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

/* Material Icons
--------------------------------------------- */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Material-Icons/material-icons-outlined.woff2') format('woff2'), url('../fonts/Material-Icons/material-icons-outlined.woff') format('woff');
}

/* Brown
--------------------------------------------- */

@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Brown/Brown-Regular.woff2') format('woff2'), url('../fonts/Brown/Brown-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Brown/Brown-Bold.woff2') format('woff2'), url('../fonts/Brown/Brown-Bold.woff') format('woff');
}

/* GT-Pressura
--------------------------------------------- */

@font-face {
  font-family: 'GT Pressura';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GT-Pressura/GT-Pressura-LCGV-Standard-Regular.woff2') format('woff2'), url('../fonts/GT-Pressura/GT-Pressura-LCGV-Standard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GT Pressura';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/GT-Pressura/GT-Pressura-LCGV-Standard-Medium.woff2') format('woff2'), url('../fonts/GT-Pressura/GT-Pressura-LCGV-Standard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'GT Pressura';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/GT-Pressura/GT-Pressura-LCGV-Standard-Bold.woff2') format('woff2'), url('../fonts/GT-Pressura/GT-Pressura-LCGV-Standard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'GT Pressura Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GT-Pressura/GT-Pressura-LCGV-Mono-Regular.woff2') format('woff2'), url('../fonts/GT-Pressura/GT-Pressura-LCGV-Mono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GT Pressura Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/GT-Pressura/GT-Pressura-LCGV-Mono-Medium.woff2') format('woff2'), url('../fonts/GT-Pressura/GT-Pressura-LCGV-Mono-Medium.woff') format('woff');
}