/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

html {
  font-size: 15px;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  font-family: var(--font-sans);
}

@media (min-width: 720px) {
  html {
    font-size: 16px;
  }
}

body,
button,
input,
select,
optgroup,
textarea {
  color: rgb(var(--color-dark));
  font-weight: var(--font-regular);
  line-height: var(--leading-base);
}

h1 {
  font-size: var(--font-5xl);
  font-weight: var(--font-medium);
  line-height: var(--leading-none);
}

h2 {
  font-size: var(--font-4xl);
  font-weight: var(--font-medium);
  line-height: var(--leading-none);
}

h3 {
  font-size: var(--font-3xl);
  font-weight: var(--font-medium);
  line-height: var(--leading-snug);
}

h4 {
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
  line-height: var(--leading-snug);
}

h5 {
  font-size: var(--font-base);
  font-weight: var(--font-bold);
  line-height: var(--leading-base);
}

h6 {
  font-size: var(--font-sm);
  font-weight: var(--font-bold);
  line-height: var(--leading-base);
}

h1 {
  margin: 0 0 1.5rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0;
}

p {
  margin: 0 0 1.5rem;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5rem;
}

address {
  margin: 0 0 1.5rem;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

/* Elements
--------------------------------------------- */
body {
  min-height: 100vh;
  background-color: #eee;
}

hr {
  background-color: rgb(var(--border-base));
  border: 0;
  height: 1px;
  margin-bottom: 1.5rem;
}

ul,
ol {
  margin: 0 0 1.5rem 3rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5rem;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5rem 1.5rem;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: var(--max-w-full);
}

img {
  display: block;
  height: auto;
  max-width: var(--max-w-full);
}

figure {
  margin: 0;
}

/* Links
--------------------------------------------- */
a {
  display: inline-block;
  color: rgba(var(--color-dark), 1);
  text-decoration: none;
}

a:visited {
  color: rgba(var(--color-dark), 1);
}

a:hover,
a:focus,
a:active {
  color: rgba(var(--color-dark), 0.75);
  outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: 1px solid rgba(var(--bg-dark), 1);
  border-radius: var(--rounded);
  background-color: rgba(var(--bg-dark), 1);
  color: rgb(var(--color-light));
  line-height: var(--leading-none);
  padding: 0.5rem 1rem;
}

button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  opacity: 0.75;
  cursor: pointer;
}

button:active,
button:focus,
input[type='button']:active,
input[type='button']:focus,
input[type='reset']:active,
input[type='reset']:focus,
input[type='submit']:active,
input[type='submit']:focus {
  opacity: 0.75;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
  color: rgba(var(--color-dark), 0.75);
  border: 1px solid rgba(var(--bg-dark), 0.25);
  border-radius: var(--rounded);
  padding: 0.5rem 1rem;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='range']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='time']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='color']:focus,
textarea:focus {
  border-color: rgba(var(--color-dark), 0.5);
  color: rgba(var(--color-dark), 1);
  outline: 0;
}

select {
  border: 1px solid rgba(var(--bg-dark), 0.25);
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex='-1']:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Site
--------------------------------------------- */

.site {
  max-width: var(--max-w-base);
  margin: 0 auto;
}

/* Symbols
--------------------------------------------- */

.symbol {
  font-family: var(--font-symbol);
  font-variation-settings: var(--symbol-variation-settings);
  line-height: var(--leading-none);
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
}

.symbol-md {
  font-size: var(--font-md);
}

.symbol-lg {
  font-size: var(--font-lg);
}

.symbol-xl {
  font-size: var(--font-xl);
}

.symbol-2xl {
  font-size: var(--font-2xl);
}

.symbol-3xl {
  font-size: var(--font-3xl);
}

.symbol-menu::after {
  content: '\e5d2';
}

.symbol-close::after {
  content: '\e5cd';
}

/* Espa Modal
--------------------------------------------- */

.espa-modal {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgb(var(--bg-white));
  visibility: hidden;
  opacity: 0;
  transform: translateY(12.5rem);
  transition: visibility 0.4s, transform 0.4s, opacity 0.4s;
}

.espa-modal.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.espa-modal .container {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 0.75rem 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.espa-modal .espa-modal-close {
  cursor: pointer;
  padding: 0.25rem;
  border: 2px solid;
  font-size: var(--font-3xl);
}

.espa-modal .espa-banner {
  width: 100%;
  max-width: 375px;
  mix-blend-mode: multiply;
}

.espa-modal-toggle {
  cursor: pointer;
}

/* Title Wrap
--------------------------------------------- */

.title-wrap {
  margin: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: end;
}

.title-wrap .title {
  margin: 0;
  line-height: var(--leading-none);
  text-transform: uppercase;
}

.title-wrap .cta {
  font-size: var(--font-sm);
  font-weight: var(--font-medium);
}

/* Eyebrow
--------------------------------------------- */

.eyebrow {
  font-size: var(--font-sm);
  text-transform: uppercase;
}

/* Buttom
--------------------------------------------- */

.btn-dark {
  background-color: var(--bg-dark);
  color: var(--text-light);
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
}

.btn-dark:hover,
.btn-dark:focus {
  background-color: var(--bg-dark-hover);
}

/* Observer
--------------------------------------------- */

.observe {
  opacity: 0;
  transform: translateY(2.5rem);
  transition: transform 0.4s, opacity 0.4s;
}

.observe.animated {
  opacity: 1;
  transform: translateY(0px);
}

/* Pagination
--------------------------------------------- */

.navigation .nav-links {
  max-width: var(--max-w-2xl);
  margin: 0 auto;
  padding: 0 20px 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.navigation .nav-links .current {
  color: rgba(var(--color-dark), 0.75);
}

/* Underline
--------------------------------------------- */

.underline {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

/* Lazy Load
--------------------------------------------- */

img.perfmatters-lazy {
  background: url('../svg/loading.svg') no-repeat 50% 50%;
}

img.perfmatters-lazy.pmloaded {
  background: none;
}

/* Accesibility
--------------------------------------------- */
.film-single > .synopsis a,
.post-single > .content a,
.post-single > .cta a {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.film-single > .synopsis a[target='_blank']::after,
.post-single > .content a[target='_blank']::after,
.post-single > .cta a[target='_blank']::after {
  font-family: var(--font-symbol);
  content: '\f8ce';
  display: inline-block;
  line-height: 1;
  vertical-align: text-top;
  margin-left: 0.1rem;
}
