/*--------------------------------------------------------------
# Theme Variables
--------------------------------------------------------------*/

/* Root
--------------------------------------------- */
:root {
  /* Weight range is: Thin 100, Light 300, Regular 400, Medium 500, Bold 700, Black 900 */
  --font-family-base: 'Roboto', sans-serif;
  /* Weight range is: Light 300, Regular 400, Bold 700 */
  --font-family-condensed: 'Roboto Condensed', sans-serif;
  /* Weight range is: Thin 100, ExtraLight 200, Light 300, Regular 400, Medium 500, SemiBold 600, Bold 700 */
  --font-family-mono: 'Roboto Mono', sans-serif;
  --font-family-identity: 'Brown', sans-serif;
  --font-family-icon-base: 'Material-Icons', sans-serif;

  
  --font-size-small: 14px;
  --font-size-base: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.875rem;
  --font-size-xlarge: 3rem;
  --font-size-xxlarge: 4.5rem;

  /* For multiplication at least one of the arguments must be a static num. */
  --letter-spacing-small: calc(var(--font-size-small) * 0.05);
  --letter-spacing-base: 0.05rem;
  --letter-spacing-medium: calc(var(--font-size-medium) * 0.05);
  --letter-spacing-large: calc(var(--font-size-large) * 0.05);
  --letter-spacing-xlarge: calc(var(--font-size-xlarge) * 0.05);
  --letter-spacing-xlarge: calc(var(--font-size-xxlarge) * 0.05);

  --font-size-icon-base: 1.25rem;
  --font-size-icon-medium: 1.563rem;
  --font-size-icon-large: 1.953rem;
  --font-size-icon-xlarge: 2.441rem;

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --line-height-base: 1.5;
  --line-height-title: 1.25;
  --line-height-solid: 1;

  --bg-base: #ffffff;
  --bg-light: #f2f2f2;
  --bg-dark: #141414;
  --bg-accent: #ff6633;

  --text-base: #000000;
  --text-light: #eeeeee;
  --text-dark: #141414;
  --text-accent: #00cccc;

  --border-base: #3d3d3d;

  --border-radius-base: 0.25rem;

  --max-width-base: 2560px;
  --max-width-small: 540px;
  --max-width-medium: 720px;
  --max-width-large: 960px;
  --max-width-xlarge: 1140px;
  --max-width-xxlarge: 1320px;
  --max-width-fluid: 100%;
}

