/*--------------------------------------------------------------
# Mobile Nav
--------------------------------------------------------------*/

#btn-mobile-nav-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-family: var(--font-mono);
  font-weight: var(--font-medium);
}

@media (min-width: 720px) {
  #btn-mobile-nav-toggle {
    display: none;
  }
}

#btn-mobile-nav-toggle .symbol {
  margin-bottom: 0.125rem;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 300;
  width: 85%;
  max-width: 480px;
  overflow: auto;
  background-color: rgba(var(--bg-dark), 1);
  color: rgba(var(--color-light), 1);
  visibility: hidden;
  transform: translateX(100%);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.mobile-nav.active {
  visibility: visible;
  transform: translateX(0);
}

.mobile-nav a,
.mobile-nav a:visited {
  color: rgba(var(--color-light), 1);
}

.mobile-nav a:hover,
.mobile-nav a:focus,
.mobile-nav a:active {
  color: rgba(var(--color-light), 0.75);
}

.mobile-nav > .container {
  position: relative;
  padding: 1.5rem 20px;
}

.mobile-nav nav {
  margin-bottom: 1.5rem;
}

.mobile-nav nav h5 {
  margin: 0 0 0.5rem;
}

.mobile-nav .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav .menu li {
  margin-bottom: 0.5rem;
}

#btn-mobile-nav-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}
