/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

.site-footer {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

.site-footer > .container {
  max-width: var(--max-width-xxlarge);
  margin: 0 auto;
  padding: 4.5rem 20px;
}
