/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

.site-footer {
    background-color: rgb(var(--bg-dark));
    color: rgb(var(--color-light));
}

.site-footer > .container {
  max-width: var(--max-w-2xl);
  margin: 0 auto;
  padding: 4.5rem 20px;
}
