/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

.site-footer {
  background-color: rgb(var(--bg-dark));
  color: rgb(var(--color-light));
}

.site-footer a,
.site-footer a:visited {
  color: rgba(var(--color-light), 1);
}

.site-footer a:hover,
.site-footer a:focus,
.site-footer a:active {
  color: rgba(var(--color-light), 0.75);
}

.site-footer .site-title {
  display: inline-block;
  margin-bottom: 3rem;
}

.site-footer .site-title .trademark svg,
.site-footer .site-title a:visited .trademark svg {
  fill: rgba(var(--color-light), 1);
}

.site-footer .site-title a:hover .trademark svg,
.site-footer .site-title a:focus .trademark svg,
.site-footer .site-title a:active .trademark svg {
  fill: rgba(var(--color-light), 0.75);
}

.site-footer > .container {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 4.5rem 20px;
}

.site-footer .grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}

@media (max-width: 719px) {
  .site-footer .grid .grid-col:nth-child(1) {
    grid-column: span 4;
  }

  .site-footer .grid .grid-col:nth-child(2) {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }

  .site-footer .grid .grid-col:nth-child(3) {
    grid-column: span 4;
  }
}

@media (min-width: 720px) {
  .site-footer .grid .grid-col:first-child {
    grid-column: span 2;
  }
}

.site-footer h5 {
  text-transform: uppercase;
  font-weight: var(--font-medium);
  margin: 0 0 0.5rem;
}

.site-footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Newsletter
--------------------------------------------- */

.site-footer .newsletter {
  margin-bottom: 3rem;
}

.site-footer .newsletter form {
  display: flex;
}

.site-footer .newsletter form input[type='email'] {
  flex-grow: 1;
  width: 100%;
  max-width: 320px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.newsletter form input[type='submit'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgba(var(--bg-light), 0.5);
  border-color: rgba(var(--bg-light), 0.5);
}

/* Social Networks
--------------------------------------------- */

.site-footer .social-networks ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.site-footer .social-networks a {
  background-color: rgba(var(--bg-light), 0.15);
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-footer .social-networks svg {
  display: block;
  width: var(--font-base);
  height: var(--font-base);
  fill: rgba(var(--color-light), 1);
}

/* Navigations
--------------------------------------------- */

@media (min-width: 720px) {
  .site-footer .production {
    margin-bottom: 3rem;
  }
}

.site-footer .production .menu li:not(:last-child),
.site-footer .sales .menu li:not(:last-child),
.site-footer .contact .menu li:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* CC
--------------------------------------------- */

.cc {
  background-color: rgba(var(--bg-light), 1);
  font-size: var(--font-xs);
}

.cc .container {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 1.5rem 20px;
}
