/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/

.site-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--bg-base);
}

.site-header > .container {
  max-width: var(--max-width-xxlarge);
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.site-title {
  margin: 0;
  font-size: var(--font-size-large);
  font-family: var(--font-family-brand);
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: 0;
}

.site-title a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trademark {
  margin-top: 0.5rem;
}

.trademark svg {
  display: block;
  width: 1.25rem;
  height: auto;
}
