/*--------------------------------------------------------------
# Film Single
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

.film-single {
  background-color: rgb(var(--bg-white));
}

.film-single > .header .container {
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: 4.5rem 20px 3rem;
}

.film-single > .header .meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.film-single > .header .meta .terms {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.film-single > .header .meta .terms a {
  font-size: var(--font-sm);
  font-weight: var(--font-medium);
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.film-single > .header .title {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.film-single > .header .subtitle {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: var(--font-medium);
}

/* Media
--------------------------------------------- */

.film-single > .media .container {
  max-width: var(--max-w-2xl);
  margin: 0 auto;
}

/* Featured Image */

.film-single > .media .featured-image {
  margin: 0;
}

.film-single > .media .featured-image img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
}

/* Featured Video */

.film-single > .media .featured-video {
  aspect-ratio: 16 / 9;
  display: grid;
  inline-size: 100%;
  position: relative;
  /* background-color: #ccc; */
}

.film-single > .media .featured-video button {
  block-size: 4.5rem;
  inline-size: 4.5rem;
  display: grid;
  position: absolute;
  place-self: center;
  border: none;
  border-radius: 50%;
  background-color: rgba(var(--bg-dark), 0.5);
  opacity: 1;

  cursor: pointer;
}

.film-single > .media .featured-video button::before {
  aspect-ratio: 1;
  background-color: rgba(var(--bg-white), 1);
  block-size: 2.25rem;
  clip-path: polygon(20% 0%, 20% 100%, 100% 50%);
  content: '';
  place-self: center;
}

.film-single > .media .featured-video :is(iframe, img) {
  block-size: 100%;
  border: 0;
  border-radius: inherit;
  inline-size: 100%;
  inset: 0;
  object-fit: cover;
  position: absolute;
}

.film-single > .media .featured-video iframe:not([src='']) + button {
  display: none;
}

.film-single > .media .featured-video button:hover {
  background-color: rgba(var(--bg-dark), 0.75);
}

/* Synopsis
--------------------------------------------- */

.film-single > .synopsis .container {
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: 3rem 20px;
}

.film-single > .synopsis .title {
  text-transform: uppercase;
}

/* Logos
--------------------------------------------- */

.film-single > .logos .container {
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: 3rem 20px 0;
}

.film-single > .logos .column-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.film-single > .logos .logo img {
  max-height: 4rem;
  mix-blend-mode: multiply;
}

@media (min-width: 720px) {
  .film-single > .logos .logo img {
    max-height: 5rem;
  }
}

/* Gallery
--------------------------------------------- */

.film-single > .gallery .container {
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: 0 20px 4.5rem;
}

.film-single > .gallery .column-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.film-single > .gallery a {
  display: block;
  height: 4.5rem;
}

@media (min-width: 720px) {
  .film-single > .gallery a {
    height: 6.5rem;
  }
}

@media (min-width: 960px) {
  .film-single > .gallery a {
    height: 8.5rem;
  }
}

.film-single > .gallery a img {
  height: 100%;
  width: auto;
}

/* Details
--------------------------------------------- */

.film-single > .details {
  background: rgb(var(--bg-light));
}

.film-single > .details > .container {
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: 4.5rem 20px;
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 720px) {
  .film-single > .details > .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
  }
}

.film-single > .details .title {
  text-transform: uppercase;
}

.film-single > .details .content {
  font-family: var(--font-mono);
}

/* Truncate */

.film-single > .details .festivals .container.truncate .content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  overflow: hidden;
}

.film-single > .details .festivals .container .read-more {
  margin-top: 1.5rem;
  font-weight: var(--font-medium);
  cursor: pointer;
}

/* Featured
--------------------------------------------- */

.film-single > .featured .container {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 4.5rem 20px 0;
}

.film-single > .featured:last-child .container {
  padding: 4.5rem 20px;
}

.film-single > .featured .eyebrow {
  text-align: center;
}

.film-single > .featured .container > .title {
  margin-top: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: var(--leading-none);
}

/*--------------------------------------------------------------
# Film Archive
--------------------------------------------------------------*/

.archive-film {
  background-color: rgb(var(--bg-white));
}
.archive-film > .header .container {
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: 4.5rem 20px 3rem;
}

.archive-film > .header .title {
  text-align: center;
  text-transform: uppercase;
}

.archive-film > .content .container {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 0 20px 4.5rem;
}

.archive-film > .content .films {
  display: grid;
  row-gap: 1.5rem;
}

@media (min-width: 720px) {
  .archive-film > .content .films {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1.5rem;
  }
}

/*--------------------------------------------------------------
# Film Loop
--------------------------------------------------------------*/

.films {
  list-style: none;
  margin: 0;
  padding: 0;
}

.films > .film {
  position: relative;
}

.films > .film a {
  display: block;
  background-color: rgb(var(--bg-dark));
}

.films > .film img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
  opacity: 0.75;
}

.films > .film a:visited img {
  opacity: 0.75;
}

.films > .film a:hover img,
.films > .film a:focus img,
.films > .film a:active img {
  opacity: 1;
}

.films > .film .title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  text-transform: uppercase;
  font-size: var(--font-lg);
  line-height: var(--leading-none);
  color: rgb(var(--color-light));
}

.films > .film .terms {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 20px;
  font-size: var(--font-xs);
  color: rgb(var(--color-light));
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.films > .film .terms li {
  padding: 0.25rem 0.5rem;
  background-color: rgba(var(--bg-dark), 1);
}
