/*--------------------------------------------------------------
# Signle Film
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

.single-film {
  padding: 4.5rem 0;
  background-color: rgb(var(--bg-white));
}

.single-film > .header .container {
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: 0 20px 3rem;
}

.single-film > .header .meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
  margin-bottom: 2.25rem;
}

.single-film > .header .meta .terms {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.single-film > .header .meta .terms a {
  padding: 0.25rem 0.5rem;
  border: 2px solid;
  border-radius: var(--rounded);
  font-size: var(--font-sm);
  font-weight: var(--font-medium);
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.single-film > .header .meta .terms a:hover,
.single-film > .header .meta .terms a:focus {
  background-color: rgb(var(--bg-dark));
  border-color: rgb(var(--bg-dark));
  color: rgb(var(--color-light));
}

.single-film > .header .title {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.single-film > .header .subtitle {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: var(--font-medium);
}

/* Media
--------------------------------------------- */

.single-film > .media .container {
  max-width: var(--max-w-2xl);
  margin: 0 auto;
}

/* Featured Image */

.single-film > .media .featured-image {
  margin: 0;
}

.single-film > .media .featured-image img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
}

/* Featured Video */

.single-film > .media .featured-video {
  aspect-ratio: 16 / 9;
  display: grid;
  inline-size: 100%;
  position: relative;
  /* background-color: #ccc; */
}

.single-film > .media .featured-video button {
  block-size: 4.5rem;
  inline-size: 4.5rem;
  display: grid;
  position: absolute;
  place-self: center;
  border: 2px solid var(--bg-base);
  border-radius: 50%;
  background-color: var(--bg-dark);
  opacity: 0.5;
  transition: opacity 0.2s;
  cursor: pointer;
}

.single-film > .media .featured-video button::before {
  aspect-ratio: 1;
  background-color: var(--bg-base);
  block-size: 2.25rem;
  clip-path: polygon(20% 0%, 20% 100%, 100% 50%);
  content: '';
  place-self: center;
}

.single-film > .media .featured-video :is(iframe, img) {
  block-size: 100%;
  border: 0;
  border-radius: inherit;
  inline-size: 100%;
  inset: 0;
  object-fit: cover;
  position: absolute;
}

.single-film > .media .featured-video iframe:not([src='']) + button {
  display: none;
}

.single-film > .media .featured-video button:hover {
  opacity: 1;
}

/* Synopsis
--------------------------------------------- */

.single-film > .synopsis .container {
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: 3rem 20px;
}

.single-film > .synopsis .title {
  text-transform: uppercase;
}

/* Logos
--------------------------------------------- */

.single-film > .logos .container {
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: 3rem 20px 0;
}

.single-film > .logos .column-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.single-film > .logos .logo {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-film > .logos .logo img {
  max-width: 7rem;
  max-height: 5rem;
  mix-blend-mode: multiply;
}

@media (min-width: 720px) {
  .single-film > .logos .logo img {
    max-width: 8rem;
    max-height: 6rem;
  }
}

/* Gallery
--------------------------------------------- */

.single-film > .gallery .container {
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: 0 20px 4.5rem;
}

.single-film > .gallery .column-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.single-film > .gallery a {
  height: 4.5rem;
}

@media (min-width: 720px) {
  .single-film > .gallery a {
    height: 6.5rem;
  }
}

@media (min-width: 960px) {
  .single-film > .gallery a {
    height: 8.5rem;
  }
}

.single-film .gallery img {
  height: 100%;
  width: auto;
}

/* Details
--------------------------------------------- */

.single-film > .details {
  background: rgb(var(--bg-dark));
  color: rgb(var(--color-light));
}

.single-film > .details > .container {
  max-width: var(--max-w-lg);
  margin: 0 auto;
  padding: 4.5rem 20px;
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 720px) {
  .single-film > .details > .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
  }
}

.single-film > .details .title {
  text-transform: uppercase;
}

.single-film > .details .content {
  font-family: var(--font-mono);
}

/* Truncate */

.single-film > .details .festivals .container.truncate .content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  overflow: hidden;
}

.single-film > .details .festivals .container .read-more {
  margin-top: 1.5rem;
  font-weight: var(--font-medium);
  cursor: pointer;
}

/* Featured
--------------------------------------------- */

.single-film > .featured {
  background-color: rgb(var(--bg-light));
}

.single-film > .featured .container {
  max-width: var(--max-w-2xl);
  margin: 0 auto;
  padding: 4.5rem 0 0;
}

.single-film > .featured .eyebrow {
  text-align: center;
  padding: 0 20px;
}

.single-film > .featured .container > .title {
  margin-top: 0.5rem;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
}
