/*--------------------------------------------------------------
# Page
--------------------------------------------------------------*/

.page {
  background-color: rgb(var(--bg-white));
}

.page > .header .container {
  max-width: var(--max-w-md);
  margin: 0 auto;
  padding: 4.5rem 20px 3rem;
}

.page > .header .title {
  text-align: center;
  text-transform: uppercase;
}

.page > .content .container {
  max-width: var(--max-w-md);
  margin: 0 auto;
  padding: 0 20px 4.5rem;
}

/* production */

.page > .featured {
  background-color: rgb(var(--bg-light));
}

.page > .featured .container {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 3rem 20px 0;
}

.page > .featured:last-child .container {
  padding: 3rem 20px 4.5rem;
}

.page > .featured .title {
  text-transform: uppercase;
  text-align: center;
}

/*--------------------------------------------------------------
# Page Home
--------------------------------------------------------------*/

/* Spotlight
--------------------------------------------- */

.home > .spotlight {
  background-color: rgb(var(--bg-dark));
}

.home > .spotlight > .container {
  max-width: var(--max-w-full);
  margin: 0 auto;
  padding: 0 0 4.5rem;
}

.home > .spotlight .swiper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home > .spotlight a {
  display: block;
  color: rgba(var(--color-light), 1);
}

.home > .spotlight figure {
  position: relative;
}

.home > .spotlight figure img {
  object-fit: cover;
  width: 100%;
  height: 50vh;
}

@media (min-width: 720px) {
  .home > .spotlight figure img {
    height: calc(100vh - 5.5rem);
  }
}

.home > .spotlight figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home > .spotlight figcaption .container {
  max-width: calc(var(--max-w-xl) - 40px);
  margin: 0 auto;
  padding: 4.5rem 20px 1.5rem;
}

.home > .spotlight figcaption .container:hover {
  color: rgba(var(--color-light), 0.75);
}

.home > .spotlight figcaption .title {
  font-size: var(--font-3xl);
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

/* SEO
--------------------------------------------- */

.home > .seo .container {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 4.5rem 20px 3rem;
}

@media (min-width: 720px) {
  .home > .seo .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 3rem;
  }
}

.home > .seo h1 {
  font-size: var(--font-3xl);
  text-transform: uppercase;
}

/* Popular Now
--------------------------------------------- */

.home > .popular-now .container {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 0 20px 4.5rem;
}

.home > .popular-now .title {
  text-transform: uppercase;
}

.home > .popular-now .swiper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home > .popular-now figure img {
  object-fit: cover;
  aspect-ratio: 29.7 / 42;
}

.home > .popular-now a {
  display: block;
}

.home > .popular-now a figure {
  border: 2px solid rgba(var(--color-dark), 0);
}

.home > .popular-now a:hover figure,
.home > .popular-now a:focus figure,
.home > .popular-now a:active figure {
  border: 2px solid rgba(var(--color-dark), 0.5);
}

/* News
--------------------------------------------- */

.home > .news .container {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 0 20px 4.5rem;
}

.home > .news .posts {
  display: grid;
  row-gap: 3rem;
}

@media (min-width: 720px) {
  .home > .news .posts {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 1.5rem;
  }
}
